.list-container {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  overflow: scroll;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .list-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    overflow: scroll;
  }
}

.rotate {
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotateX(360deg);
  }
}

.logo-loading {
  display: inline-block;
  height: 100px;
}
